@import url("https://fonts.google.com/specimen/Overpass?preview.text_type=custom");
html,
*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Overpass, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p {
  opacity: 0.4;
  line-height: 1.5;
}
h3 {
  color: hsl(208, 49%, 24%);
  padding: 2rem;
}
h1 {
  text-align: center;
  color: hsl(208, 49%, 24%);
}
.nav-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 5rem 0rem 5rem;
}
.header-container {
  width: 100%;
  height: 30rem;
  background-color: hsl(356, 100%, 66%) !important;
  border-radius: 0px 0px 0px 60px;
  background: url("../images/bg-pattern-intro.svg") -190px -1360px no-repeat;
}

.header {
  padding-top: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*********************************** dropdowns *****************************************************8*/

.project-link {
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  top: 22px;
  left: -10px;
  z-index: 1;
  background-color: rgb(223, 215, 215);
  color: black !important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown a {
  padding: 12px 16px;
}
.dropdown a:hover {
  background-color: rgb(240, 58, 58);
  color: white;
}
.project-link:hover .dropdown {
  display: flex;
  flex-direction: column;
}

/* **************** Nav css******************** */

.left-side-nav {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  background: url("/images/icon-arrow-light.svg") no-repeat;
  background-position: top 8px right 7px;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}
.link:hover {
  background-color: hsl(355, 100%, 74%);
}

.authenticate-btn {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.btn {
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  border: none;
}
.btn:hover {
  cursor: pointer;
}
.login-btn {
  color: white;
  background-color: transparent;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.login-btn:hover {
  background-color: hsl(300, 0%, 43%);
}
.signup-btn {
  color: hsl(353, 100%, 62%);
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/* ****************header-content css********************** */

.header-content {
  margin-top: 6em;
  text-align: center;
  color: hsl(0, 0%, 100%) !important;
}
.header-text-content {
  color: hsl(0, 0%, 100%) !important;
  opacity: 0.8;
}
.header-main-content {
  font-weight: 700;
  color: hsl(0, 0%, 100%) !important;
}
.content-btns {
  width: 300px;
  margin: auto;
  text-align: center;
}
.header-btns {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.start-btn {
  color: hsl(355, 100%, 74%);
  padding: 11px;
}
.learn-more-btn {
  color: white;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #fff;
}

/************* main content ********************/

.content-title {
  text-align: center;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50rem;
}
.designed {
  margin-top: 100px;
}
.content-right {
  background: url("../images/illustration-editor-desktop.svg") 700px -2px no-repeat;
}
.content-left {
  margin-top: 200px;
  text-align: center;
  padding-left: 10rem;
}
.content-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: hsl(237, 17%, 21%) !important;
  background: url("../images/bg-pattern-circles.svg") -220px -500px no-repeat;
  border-radius: 0px 120px 0px 120px;
  height: 30rem;
}
.phones {
  padding-left: 120px;
}
.mobile-view {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  color: white;
  padding-right: 9rem;
}

.content-3 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 2rem;
  height: 60rem;
  padding-right: 10rem;
}
.laptop-svg {
  background: url("../images/illustration-laptop-desktop.svg") -272px 100px no-repeat;
}
.explaination-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tooling {
  margin-top: 1rem;
}

/* **********************footer************ */

footer {
  height: 24.2rem;
  background-color: hsl(240, 10%, 16%);
  border-radius: 0px 100px 0px 0px;
}
.footer-body {
  display: flex;
  width: 100%;
  height: 18rem;
  margin-top: 8rem;
  justify-content: space-around;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 10rem;
  height: 50vh;
  color: hsl(240, 2%, 79%);
}
.footer-center {
  display: flex;
  flex-direction: column;
}

.footer-title {
  color: hsl(0, 0%, 100%);
  opacity: 0.7;
  padding: 0px;
  padding-bottom: 1rem;
  align-items: center;
}
.footer-center p {
  line-height: 2;
}
/* ********************** hambergar togglerableb ************************* */

.menu {
  display: none;
}
.hamburger-icon {
  display: none;
}

/**************** mobile view***************** */

@media (max-width: 1281px) {
  .content-left {
    padding-left: 6rem;
  }
  .content-right {
    background: url("../images/illustration-editor-desktop.svg") 670px -12px no-repeat;
    background-size: 800px;
  }
  .mobile-view {
    display: flex;
    text-align: center;
  }
  .content-3 {
    padding-right: 2rem;
  }
  .explanation-3 {
    padding-left: 12rem;
  }
}

@media (max-width: 1025px) {
  .content {
    height: 40rem;
  }
  .content-left {
    padding-left: 2rem;
    margin-top: 70px;
  }
  .content-right {
    background: url("../images/illustration-editor-desktop.svg") 550px 10px
      no-repeat;
    background-size: 650px;
  }
  .phones {
    padding-left: 30px;
  }
  .mobile-view {
    padding-right: 3rem;
  }
  .content-2 {
    background: url("../images/bg-pattern-circles.svg") -200px -500px no-repeat;
    background-size: 900px;
  }
  .content-3 {
    height: 45rem;
  }
  .laptop-svg {
    background: url("../images/illustration-laptop-desktop.svg") -200px 100px no-repeat;
    background-size: 700px;
  }
  .footer-body {
    margin-top: 9rem;
  }
}

@media (max-width: 961px) {
  .authenticate-btn {
    width: 25%;
  }
  .content-right {
    background: url("../images/illustration-editor-desktop.svg") 520px 50px
      no-repeat;
    background-size: 570px;
  }
  .phones {
    padding-left: 1rem;
  }
  .content-2 {
    background: url("../images/bg-pattern-circles.svg") -170px -400px no-repeat;
    background-size: 800px;
  }
  .mobile-view {
    padding-right: 1.5rem;
  }
  .laptop-svg {
    background: url("../images/illustration-laptop-desktop.svg") -170px 100px no-repeat;
    background-size: 600px;
  }
  .content-3 {
    height: 40rem;
  }
}
@media (max-width: 840px) {
  .content-right {
    background: url("../images/illustration-editor-desktop.svg") 460px 70px
      no-repeat;
    background-size: 520px;
    height: 40rem;
  }
  .content-2 {
    height: 23rem;
    background: url("../images/bg-pattern-circles.svg") -150px -380px no-repeat;
    background-size: 700px;
  }
  .phones img {
    width: 50vw;
    height: 70vh;
  }
  .mobile-view {
    margin: auto;
  }
  footer {
    height: 23.3rem;
  }
  .footer {
    padding-right: 2rem;
  }
}
@media (max-width: 641px) {
  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .activate-mobile {
    opacity: 0;
    pointer-events: none;
  }
  .hamburger-icon {
    display: block;
    cursor: pointer;
  }
  .icons {
    position: relative;
  }

  .hamburger-menu {
    display: block;
  }
  .hamburger-menu.active {
    display: none;
  }
  .drop-content {
    display: none;
    position: absolute;
    top: 68px;
    right: 2rem;
  }

  .close-icon {
    display: none;
  }
  .drop-content ul li a {
    display: block;
    background: #dc555f;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    letter-spacing: 2px;
    transition: all 0.2s ease;
  }
  .drop-content ul li:first-child a {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .drop-content ul li:last-child a {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .dd_menu {
    position: absolute;
    right: 120px;
    top: 0px;
    z-index: 1;
    transform: translateY(20px);
    transition: all 0.4s ease;
  }

  .show-allows {
    position: absolute;
    border: 5px solid;
    border-color: transparent #dc5555 transparent transparent;
    width: 15px;
    height: 10px;
    top: -17px;
    left: 92px;
    border: 10px solid;
    border-color: transparent transparent #dc5555 transparent;

    /* transform: rotate(4%); */
    z-index: 1;
  }
  .show-allow {
    position: absolute;
    border: 10px solid;
    border-color: transparent #dc5555 transparent transparent;
    width: 15px;
    height: 10px;
    left: 132px;
  }
  .drop-content ul li a:hover {
    background-color: lightseagreen;
    display: block;
  }
  .dd_menu.active {
    display: block;
  }

  .drop-content.active,
  .close-icon.active {
    display: block;
  }
  .main-container {
    margin-top: -4rem;
    height: 60rem;
    margin-bottom: 4rem;
  }
  .content {
    display: block;
    margin-top: 24rem;
  }
  .content-right {
    background: url("../images/illustration-editor-mobile.svg") 50px 70px
      no-repeat;
    background-position: center top 5rem;
  }
  .content-left {
    padding-right: 2rem;
  }
  .content-2 {
    display: flex;
    flex-direction: column;
    height: 40rem;
  }
  .phones img {
    width: 100%;
    height: 100%;
  }
  .phones {
    margin-top: -12rem;
    margin-bottom: -2rem;
  }
  .mobile-view {
    margin-top: -1rem;
    padding-left: 2rem;
    padding: 2rem;
  }
  .content-3 {
    display: flex;
    flex-direction: column;
    height: 50rem;
    padding: 0px;
  }
  .laptop-svg {
    background: url("../images/illustration-laptop-mobile.svg") no-repeat;
    background-position: center top 1rem;
  }
  .explaination-3 {
    margin-top: 20rem;
    padding: 2rem;
  }
  .body-title {
    text-align: center;
  }
}
@media (max-width: 481px) {
  .header-description {
    padding: 2rem;
  }
  .main-container {
    height: 65rem;
  }
  .content-2 {
    height: 30rem;
  }
  .content-3 {
    height: 55rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  footer {
    height: 51rem;
  }
  .footer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-right: 0;
    height: 50rem;
  }

  .footer-body {
    display: flex;
    flex-direction: column;
    height: 40rem;
    margin-top: 4rem;
  }
  .footer-center {
    text-align: center;
    padding-bottom: 4rem;
  }
  .footer-log {
    width: 120px;
    margin: auto;
    padding-bottom: 30px;
  }
}
@media (max-width: 380px) {
  .header-container {
    background: url("../images/bg-pattern-intro.svg") -200px 500px no-repeat;
  }
  .main-container {
    margin-top: 1rem;
    height: 75rem;
  }
  .nav-items {
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    align-items: center;
  }
  .left-side-nav {
    padding-left: 3rem;
  }
  .hamburger-icon {
    display: block;
    padding-right: 2rem;
    cursor: pointer;
  }
  .icons {
    position: relative;
  }

  .hamburger-menu {
    display: block;
  }
  .hamburger-menu.active {
    display: none;
  }
  .drop-content {
    display: none;
    position: absolute;
    top: 68px;
    right: 2rem;
  }

  .close-icon {
    display: none;
  }
  .drop-content ul li a {
    display: block;
    background: #dc555f;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    letter-spacing: 2px;
    transition: all 0.2s ease;
  }
  .drop-content ul li:first-child a {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .drop-content ul li:last-child a {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .dd_menu {
    position: absolute;
    right: 120px;
    top: 0px;
    z-index: 1;
    transform: translateY(20px);
    transition: all 0.4s ease;
  }

  .show-allows {
    position: absolute;
    border: 5px solid;
    border-color: transparent #dc5555 transparent transparent;
    width: 15px;
    height: 10px;
    top: -17px;
    left: 92px;
    border: 10px solid;
    border-color: transparent transparent #dc5555 transparent;

    /* transform: rotate(4%); */
    z-index: 1;
  }
  .show-allow {
    position: absolute;
    border: 10px solid;
    border-color: transparent #dc5555 transparent transparent;
    width: 15px;
    height: 10px;
    left: 132px;
  }
  .drop-content ul li a:hover {
    background-color: lightseagreen;
    display: block;
  }
  .dd_menu.active {
    display: block;
  }

  .drop-content.active,
  .close-icon.active {
    display: block;
  }
  .activate-mobile {
    display: none;
  }
  .designed {
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-top: 60px;
  }
  .content-right {
    background: url("../images/illustration-editor-mobile.svg") -20px 100px no-repeat;
  }
  .content-left {
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 450px;
  }
  .footer-title {
    text-align: center;
    font-size: 26px;
  }
  .content {
    display: block;
  }
  .content-2 {
    display: flex;
    flex-direction: column;
    background: url("../images/bg-pattern-circles.svg") -120px -250px no-repeat;
    background-size: 600px;
    height: 32rem;
  }
  .phones {
    padding-left: 0px;
    margin-top: -10rem;
  }
  .phones-css {
    width: 100%;
    height: 100%;
  }
  .mobile-view {
    margin-top: 0px;
    padding-right: 25px;
    padding-left: 20px;
  }
  .content-3 {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    height: 60rem;
  }
  .laptop-svg {
    background: url("../images/illustration-laptop-mobile.svg") -60px 60px no-repeat;
  }
  .explaination-3 {
    padding-top: 4rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
  }
  .body-title {
    text-align: center;
  }
  .body-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer {
    height: 57rem;
    display: flex;
  }
  .footer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-right: 0;
    height: 50rem;
  }
  .footer-body {
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
  }
  .footer-center {
    text-align: center;
  }
  .footer-logo {
    padding-bottom: 30px;
  }
}
